<%- include('../partials/header.ejs') %> 

<! ------------ the template for the /records/show route --------------- >

<div class="container">
    <table class="table table shadow-lg p-3 mb-5 bg-white rounded">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">User ID</th>
            <th scope="col">User Role</th>
            <th scope="col">Date and Time</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
         <% records.forEach(record => { %>
            <tr>
                <td><%= record.user.username %></td>
                <td><%= record.user._id %></td>
                <td><%= record.user.role %></td>
                <td><%= record.dateAndTime %></td>
                <td><%= record.type %></td>
            </tr> 
        <% }) %> 
      </table>
</div>

<%- include('../partials/footer.ejs') %> 