<%- include('../partials/header.ejs') %> 

<div class="container p-1">
    <a href="/user/new">
        <button type="button" class="btn btn-outline-primary">Add New User</button>
    </a>
    <table class="table table shadow-lg p-3 mb-5 mt-2 bg-white rounded">
        <thead>
            <tr>
            <th scope="col">User ID</th>
            <th scope="col">Username</th>
            <th scope="col">User Role</th>
            <th scope="col">User Account Status</th>
            <th scope="col">Allowed Access Points</th>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.role %></td>
                    <td><%= user.status %></td>
                    <td>
                        <% user.allowedDoors.forEach(door => { %>
                            <p><%= door.doorName %> </p>
                        <% }) %> 
                    </td>
                    <td>
                        <a href="/user/<%= user._id %> ">
                            <button type="button" class="btn btn-outline-success">Update User </button>
                        </a>
                    </td>
                    <td>
                        <form action="/user/delete/<%= user._id %>" method="POST">
                            <button class="btn btn-outline-danger">Remove User</button>
                        </form>
                    </td>
                </tr> 
            <% }) %> 
        </table>
</div>

<%- include('../partials/footer.ejs') %> 