<%- include('../partials/header.ejs') %> 

<div class="container">
    <form action="/door/<%= door._id %> " method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Access Point Name:</label>
            <input type="text" name='doorName' class="form-control" id="exampleInputEmail1" value="<%= door.doorName %> " aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Access Point ID:</label>
            <input type="text" name='doorID' class="form-control" id="exampleInputEmail1" value="<%= door.doorID %> " aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <legend class="col-form-label">Sensitive:</legend>
            <input type="checkbox" name='sensitive' class="form-control" <% if(door.sensitive){ %>checked <% } %>>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </form>
</div>

<%- include('../partials/footer.ejs') %> 